.slick-slider {
	max-width: 100%;
}

.slick-list,
.slick-track {
	height: 100%;
}

.slick-slide {
	min-height: 600px;
	position: relative;
}

.slick-initialized .slick-slide {
	display: flex;
	align-items: center;
	align-content: center;
}

.slick-arrow {
	position: absolute;
	z-index: 999;
	top: calc(50% - 30px);
	padding: 0;
	margin: 0;
	text-indent: -9999px;
	line-height: 0;
	height: 60px;
	width: 60px;
	background: transparent;
	opacity: 0.75;
}

.slick-arrow:hover,
.slick-arrow:focus {
	opacity: 1;
}

.slick-arrow:after {
	content: " ";
	display: block;
	height: 15px;
	width: 15px;
	border: 2px solid transparent;
	border-left-color: #fff;
	border-bottom-color: #fff;
	transform: rotate(45deg);
	top: 0;
    bottom: 0;
    left: 0;
	right: 0;
	margin: auto;
	border-radius: 2px;
}

.slick-next {
	right: 0;
}

.slick-next:after {
	transform: rotate(225deg);
}

.slick-slide img {
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	max-height: none;
	max-width: none;
}

.slick-dots {
	position: absolute;
	text-align: center;
	bottom: 1em;
	width: 100%;
}

.slick-dots li {
	width: 30px;
	display: inline-block;
}

.slick-dots button {
	padding: 0;
	margin: 0;
	background-color: #fff;
	opacity: 0.5;
	height: 10px;
	width: 10px;
	border-radius: 10px;
	color: transparent;
	text-indent: -9999px;
}

.slick-active button,
.slick-dots button:hover,
.slick-dots button:focus {
	opacity: 1;
}

.slide-title {
	color: #fff;
	width: 100%;
}

.slide-excerpt {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: #fff;
}
